[project]
name = "{{ project_name }}"
version = "{{ project_version }}"
description = "{{ project_description }}"
requires-python = "{{ python_version }}"
authors = [
    { name = "{{ copyright_holder_name }}", email = "{{ copyright_holder_email }}" }
]
readme = "README.md"
license = { text = "{{ copyright_license }}" }
keywords = ["{{ project_keywords.split(',') | join('", "') }}"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python :: 3",{% for i in python_version | version_list(['3.10', '3.11', '3.12', '3.13']) %}
    "Programming Language :: Python :: {{ i }}",{% endfor %}
]
dependencies = [
    "wxpython>=4.2.2",
]

[project.urls]
homepage = "https://github.com/{{ vcs_github_path }}"
repository = "https://github.com/{{ vcs_github_path }}.git"
changelog = "https://github.com/{{ vcs_github_path }}/blob/main/CHANGELOG.md"

[project.scripts]
{{ project_name }} = "{{ project_package }}.__main__:main"

[dependency-groups]
dev = [
    "chance>=0.110",
    "nuitka>=2.6.7",
    "pre-commit>=4.2.0",
    "pylint>=3.3.6",
    "pytest>=8.3.5",
    "pytest-cov>=6.1.1",
    {% if with_tox %}
    "tox>=4.25.0",
    {% endif %}
]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.scripts]
build-win32 = "nuitka --standalone --onefile --include-module=wx._xml --windows-console-mode=disable --windows-icon-from-ico=images/app_icon.ico --output-filename={{ project_name }}.exe --output-dir=dist src/{{ project_package }}/__main__.py"
lint = "pylint src/ tests/"
test = "pytest --cov=src --cov-report=term-missing"
