from click.testing import CliRunner

from {{ project_package }} import __version__
from {{ project_package }}.__main__ import main


def test_cli_version(cli_runner: CliRunner):
    result = cli_runner.invoke(main, ['--version'])

    assert not result.exception
    assert result.output.strip() == __version__
