import wx

from .windows import MainFrame


class App(wx.App):
    def __init__(self):
        super().__init__(redirect=True, useBestVisual=True, filename='{{project_name}}.log')

    def Run(self):
        main_frame = MainFrame()
        main_frame.Show(True)
        main_frame.Centre()

        self.MainLoop()
