import click

from {{ project_package }} import __version__
{% if with_nested_commands %}
from {{ project_package }}.commands import command_group
{% endif %}


def print_version(ctx: click.Context, _, value: str):
    if not value or ctx.resilient_parsing:
        return

    click.echo(__version__)
    ctx.exit()


{% if with_nested_commands %}
@click.group(commands=command_group)
{% else %}
@click.command()
{% endif %}
@click.option('--version', help='Show version information.', is_flag=True, callback=print_version, expose_value=False, is_eager=True)
def main():
    """{{ project_description }}"""


if __name__ == '__main__':
    # pylint: disable=no-value-for-parameter
    main()
